/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	position: relative;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.wrapper{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

/* header */
.header{
	display: flex;
	flex-direction: column;
}

.header_title{
	width: 100%;
	height: 496px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("https://i.imgur.com/CSUagNY.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	color: #FFFFFF;
	padding-top: 89px;
	letter-spacing: 4px;
	font-size: 40px;
}

.header .areaId{
	width: 44%;
	height: 48px;
	background: rgba(255,255,255,0.70);
	border: 3px solid #FFFFFF;
	border-radius: 3px;
	margin-top: 96px;
	padding: 8px;
	font-size: 18px;
	line-height: 21px;
}

/* popmenu */
.popmenu{
	width: 78%;
	height: 112px;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
	background: #FFFFFF;
	position:absolute;
	left: 112px;
	top: 464px;
}

.popmenu_title{
	padding-left: 26px;
	padding-top: 20px;
	padding-bottom: 14px;
	font-size:18px;
}

.popmenu_btngroup{
	display: flex;
	margin-bottom: 49px;
}

.popmenu_btngroup .btn{
	width: 130px;
	height: 42px;
	margin-right: 23px;
	border-radius: 5px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 20px;
	outline: none;
}

.btn:hover{
	cursor: pointer;
	font-size: 23px;
}

.Lingya{
	margin-left: 56px;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
}

.Sanmin{
	background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.Xinxing{
	background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

.Yancheng{
	background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

/* contentTop */
.contentTop{
	width: 100%;
  height: 100px;
  border-bottom: 3px dashed #559AC8;
  position: absolute;
	top: 50px;  
	pointer-events: none;
}

/* content */
.content{
	width: 100%;
	margin-top: 210px;
	margin-bottom: 49px;
}

.content .list_title,.area_select{
	font-size: 36px;
	color: #8A82CC;
}

.content .list_title{
	text-align: center;
	margin-bottom: 24px;
}

.content .area_select{
	margin: auto;
}

.content .list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	padding: 0 40px;
}

.content .card{
	width: 48%;
	display: flex;
	flex-direction: column;
	margin-bottom: 36px;
	margin-right: 16px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}

.content .card_title{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 15px;
	font-size: 22px;
	color: #FFFFFF;
	font-weight: 400;
}

.content .card_imagebox{
	margin-bottom: 15px;
}

.content .card_info{
	text-align: left;
	padding-left: 23px;
	margin-bottom: 15px;
}

.content .card_info p{
	margin-bottom: 15px;
}

.content .card_image{
	height: 155px;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_info .card_info_telgroup{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-right: 23px;
}

.pagination{
	display: flex;
	justify-content: center;
}

.pagination_btngroup{
	display: flex;
	justify-content:center;
}

.prev,
.next{
margin: 0;
padding: 0;
border: 1px solid transparent;  
outline: none; 
background-color: #ffffff;
margin: 0 10px;
}

.prev,
.next:hover{
	cursor: pointer;
}

.pagination span{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 15px;
}

.pagination span:hover {
		cursor: pointer;
		color: #559AC8;
		font-size: 20px;		
}

/* footer */
.footer{
	background-color: #559AC8 ;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	line-height: 30px;
}

/* data-index */
.dataSetElement{
	color: blue
}